body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fafafa;
    background-image: url(../zomato/images/zomato\ 1.jpg);
    background-size:contain ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    align-items: center;
    background: white;
    border-bottom: 1px solid #ddd;
}

.logo {
    color: #ff4242;
    font-size: 32px;
}

.navbar .left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-bar input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.navbar .right a {
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
}

/* HERO */
.hero {
    height: 300px;
    background: url("https://b.zmtcdn.com/web_assets/b40b97e304f0187c70e9d8dc8e290f36.jpg") center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h2 {
    color: white;
    font-size: 32px;
}

/* FILTERS */
.filters {
    padding: 20px 40px;
}

.filters button {
    padding: 8px 17px;
    border-radius: 8px;
    border: 1px solid #bbb;
    background: white;
    margin-right: 12px;
}

/* INSPIRATION */
.inspiration,
.brands,
.restaurants {
    padding: 20px 40px;
    
}

.food-list {
    display: flex;
    gap: 22px;
    margin-top: 20px;
}

.food-item img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

/* BRANDS */
.brand-list {
    display: flex;
    gap: 25px;
    margin-top: 20px;
}

.brand-card img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
}

.brand-card p {
    text-align: center;
    margin-top: 10px;
}

/* RESTAURANT CARDS */
.restaurant-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.rest-card {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.rest-card img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    background: #eee;
}

